
<!--Para hacer click en un héroe de la lista y revelar detalles sobre ese héroe-->
<!--El componente solo debe mostrar los detalles del héroe seleccionado si selectedHeroexiste.-->
<div *ngIf="hero">
    <h2>{{hero.name | uppercase}} Detalles</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
      <label for="hero-name">Nombre del héroe: </label>
      <input id="hero-name" [(ngModel)]="hero.name" placeholder="Nombre del héroe"/>
    </div>
    <button (click)="goBack()">Volver</button>
    <button (click)="save()">Guardar</button>
  </div>